<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Relocation Genevoise - {% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="robots" content="{% block robots %}{% endblock %}"/>
        <link rel="icon" type="image/jpg" href="{{ asset('media/favicon.ico') }}" sizes="32x32">
        <link rel="canonical" href="https://relocation-genevoise.ch{% block url %}{% endblock %}" />

        <meta property="og:type" content="website">
        <meta property="og:title" content="{% block ogTitle %}{% endblock %}">
        <meta property="og:url" content="{% block ogUrl %}{% endblock %}">
        <meta property="og:image" content="{% block ogImage %}{% endblock %}">
        <meta property="og:image:alt" content="{% block ogImageAlt %}{% endblock %}"/>
        <meta property="og:description" content="{% block ogDescription %}{% endblock %}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        <!-- Schema.org -->
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "WebSite",
                "name": "Relocation Genevoise",
                "url": "https://relocation-genevoise.ch"
            }
        </script>
    </head>
    <body>
    {% block body %}{% endblock %}
    </body>
</html>